


<ion-view view-title="Chat">
  <ion-content class="">

    <div class="bar bar-footer bar-balanced ">
      <label class="item-input-wrapper wrap ">
        <!-- <i class="icon ion-ios-search placeholder-icon" style="float:right"></i> -->
        <input type="text" placeholder="Enter message" class="message">
        <button class="button button-icon icon ion-paper-airplane"></button>
      </label>
    </div>

<div class="list">
  <div class="">
    <p>
      time
    </p>
    <!-- conditional class statement -->
    <div   ng-class="1===2 ? 'mcard' : 'mcard2'"  href="#">
      <!-- conditional class statement -->
      <img class ="img-circle" src="img/ben.png">
      <p>
        d sd; dlmddlmsmdlmsmdlmslmcsdm;ME;ajgjefjongokrgnrakgn'lrgh'rkgh'rkgtja
        rgjdmdsl;d,sd,ds,l,dls,
      </p>
  </div>

  <div   ng-class="1===2 ? 'mcard2' : 'mcard'"  href="#">
    <!-- conditional class statement -->
    <img class ="img-circle" src="img/ben.png">
    <p>
      d sd; dlmddlmsmdlmsmdlmslmcsdm;ME;ajgjefjongokrgnrakgn'lrgh'rkgh'rkgtja
      rgjdmdsl;d,sd,ds,l,dls,
    </p>
</div>
</div>

  </ion-content>
</ion-view>
