<ion-view view-title="Account" class="has-header">
  <ion-content class="has-header padding">
    <ion-list>
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
        <!-- <div class="list">
          <div id="content">
            <hscroller>
              <hcard  ng-repeat="item in items  track by $index" index="{{$index}}" desc="{{item.desc}}" image="{{item.image}}" id="h"><h4>{{item.desc}}</h4></hcard></hscroller>
          </div>
        </div>
        i know i was passionate bout
        that design but i wont kill
        myself fir 100k am just gonna put
        what i jnow i would work on d liblary later -->
        <div class="list">

          <a class="item item-avatar" href="#">
            <img src="img/ben.png">
            <h2>Venkman</h2>
            <div class="iconlower">
              <i class="icon ion-person-stalker"> 300 </i>
              <i class="icon ion-compose"> 1.5M </i>
              <i class="icon ion-person"> 1 </i>
            </div>
          </a>



        </div>



    </ion-list>
  </ion-content>
</ion-view>
