<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<div class="bar bar-header " style="color:white">
  <button class="button button-icon icon ion-navicon"></button>
  <div class="h1 title" >Sports Meet</div>
  <button class="button button-icon icon ion-navicon"></button>
</div>
<ion-tabs class="tabs-icon-top tabs-color-active-balanced has-header">

  <!-- Dashboard Tab -->
  <ion-tab title="Forum" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="TimeLine" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="People" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-user" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
