<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<div class="bar bar-header " style="color:white">
  <button class="button button-icon icon ion-navicon"></button>
  <div class="h1 title" >Sports Meet</div>
  <button class="button button-icon icon ion-navicon"></button>
</div>
<ion-tabs class="tabs-icon-top tabs-color-active-balanced has-header">

  <!-- Dashboard Tab -->
  <ion-tab title="Forum" icon-off="ion-ios-football-outline" icon-on="ion-ios-football" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="TimeLine" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/timeline">
    <ion-nav-view name="tab-timeline"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notifications" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications" href="#/tab/notification">
    <ion-nav-view name="tab-notification"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Chat" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/chat">
    <ion-nav-view name="tab-chat"></ion-nav-view>
  </ion-tab>


</ion-tabs>
