

<ion-view view-title="Dashboard">
  <ion-content class="padding has-header">

    <div class="list card">

<div class="item item-avatar">
  <img src="img/ben.png">
  <h2>Y Nigerian League football is 72% crap</h2>
  <p>November 05, 1955</p>
</div>

<div class="item item-body">
  <!-- <img class="full-image" src="delorean.jpg"> -->
  <h2 class="p_" style="margin-top: 0px;">
Football in nigeria is mostly under rated not because players arent good its because of the way they market it........
      </h2>
  <p >
    <a class="subdued">1 Like</a>
    <a class="subdued">50 Comments</a>
    <a  class="subdued">5 Views</a>
  </p>
</div>

</div>


  </ion-content>
</ion-view>
